<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlist</title>
    <link rel="icon" type="image/x-icon" href="../stylesheets/images/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/cusine.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
      <header>
      <div class="logo">
        <a href="/"><img src="../stylesheets/images/logo.ico" alt=""></a></a>
      </div>

      <div class="menu">
        <ul>
          <nav>
            <ul id="nav_id">
             
                </ul>
              </li>
              <!-- <li><a href="#">Contact Us</a></li> -->
            </ul>
          </nav>
          <!-- </li> -->



        </ul>
      </div>

    </header>

    <div class="banner">
        <div class="aestroid">
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
        </div>
        <div class="banner_text">
            <h1>Earth's Special Menu</h1>
        </div>
    </div>

    <div class="contaner" data-aos="fade-up">

        <div class="card">
            <img src="../stylesheets/images/pizza.jpeg">
            <h2>Pizza</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <div id="div1">
                <button id="add1">Add to cart</button>
            </div>
            
        </div>

        <div class="card">
            <img src="./stylesheets/images/sandwich.jpeg">
            <h2>Sandwich</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add2">Add to cart</button>
        </div>
        <div class="card">
            <img src="./stylesheets/images/samosa.jpeg">
            <h2>Samosa</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add3">Add to cart</button>
        </div>
        <div class="card">
            <img src="./stylesheets/images/capcecino.jpeg">
            <h2>Capecino</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add4">Add to cart</button>
        </div>
        <div class="card">
            <img src="./stylesheets/images/nachos.jpeg">
            <h2>Nachos</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add5">Add to cart</button>
        </div>
        
    </div>
    <div class="banner">
        <div class="aestroid">
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
        </div>
        <div class="banner_text">
            <h1>Mars's Special Menu</h1>
        </div>
    </div>

    <div class="contaner" data-aos="fade-up">

        <div class="card">
            <img src="../stylesheets/images/1.jpeg">
            <h2>French fries</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add6">Add to cart</button>
        </div>

        <div class="card">
            <img src="../stylesheets/images/2.jpeg">
            <h2>Honey</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add7">Add to cart</button>
        </div>
        <div class="card">
            <img src="../stylesheets/images/3.jpeg">
            <h2>Burger</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add8">Add to cart</button>
        </div>
        <div class="card">
            <img src="../stylesheets/images/5.jpeg">
            <h2>Patties</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add9">Add to cart</button>
        </div>
        <div class="card">
            <img src="../stylesheets/images/cofee.jpeg">
            <h2>Cofee</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam distinctio voluptas cupiditate repellat? Minima, 
            </p>
            <button id="add10">Add to cart</button>
        </div>

        
    </div>
</div>
<div class="banner">
    <div class="aestroid">
        <div class="stone"></div>
        <div class="stone"></div>
        <div class="stone"></div>
        <div class="stone"></div>
        <div class="stone"></div>
        <div class="stone"></div>
        <div class="stone"></div>
    </div>
    <div class="banner_text">
        <h1>Jupyter's Special Menu</h1>
    </div>
</div>

<div class="contaner" data-aos="fade-up">

    <div class="card">
        <img src="../stylesheets/images/noodles.jpeg">
        <h2>Noodles</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Magnam distinctio voluptas cupiditate repellat? Minima, 
        </p>
        <button id="add11">Add to cart</button>
    </div>

    <div class="card">
        <img src="../stylesheets/images/chole.jpeg">
        <h2>Chole</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Magnam distinctio voluptas cupiditate repellat? Minima, 
        </p>
        <button id="add12">Add to cart</button>
    </div>
    <div class="card">
        <img src="../stylesheets/images/burger.jpeg">
        <h2>Bread</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Magnam distinctio voluptas cupiditate repellat? Minima, 
        </p>
        <button id="add13">Add to cart</button>
    </div>
    <div class="card">
        <img src="../stylesheets/images/cold.jpeg">
        <h2>Cold Drink</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Magnam distinctio voluptas cupiditate repellat? Minima, 
        </p>
        <button id="add14">Add to cart</button>
    </div>
    <div class="card">
        <img src="../stylesheets/images/pasta.jpeg">
        <h2>Pasta</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Magnam distinctio voluptas cupiditate repellat? Minima
        </p>
        <button id="add15">Add to cart</button>
    </div>
    
    
</div>
<script src="../javascript/cusine.js"></script> 
<script src="https://unpkg.com/aos@next/dist/aos.js"></script> 
 <script>
  AOS.init();
</script>
</body>
</html>