<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/eatlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>SpiceBites-Cart</title>
    <link rel="icon" type="image/x-icon" href="../stylesheets/images/favicon.ico">
    {{!--
    <link rel="stylesheet" href="css/login.css"> --}}
</head>

<body>
    <main>
        <header>
            <div class="logo">
                <a href="/"><img src="../stylesheets/images/logo.ico" alt=""></a></a>
            </div>

            <div class="menu">
                <ul>
                    <!-- <li><a href="#"><b>Menu</b></a></li> -->
                    <!-- <li><a href="#"><b>Menu</b></a></li> -->
                    <!-- <li><a href="#"><b>Menu</b></a></li> -->
                    <!-- <li><b>Menu</b></li> -->
                    <!-- <li> -->
                    <nav>
                        <ul id="nav_id">
                        </ul>
                        </li>
                        <!-- <li><a href="#">Contact Us</a></li> -->
                </ul>
                </nav>
                <!-- </li> -->



                </ul>
            </div>

        </header>

        <div class="banner">
            <div class="aestroid">
                <div class="stone"></div>
                <div class="stone"></div>
                <div class="stone"></div>
                <div class="stone"></div>
                <div class="stone"></div>
                <div class="stone"></div>
                <div class="stone"></div>
            </div>
            <div class="banner_text">
                <h1 id="title" style="font-size:70px">Your Cart</h1>
                <ul>
                    {{!-- <li id="tagline">Where every flavor tells a story.</li> --}}
                </ul>
            </div>


            <div class="small-continer cart-page">
                <table id="details">
                    <tr>
                        <th>Your Orders</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </table>


                <div class="total-price" id="price">
                </div>

                <button class="payment" id="pay">Procced to payment </button>
            </div>

        </div>
        </div>

    </main>
    <script src="../javascript/eatlist.js"></script>
</body>

</html>