<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/home.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>SpiceBites-Home</title>
    <link rel="icon" type="image/x-icon" href="../stylesheets/images/favicon.ico">
    {{!-- <link rel="stylesheet" href="css/login.css"> --}}
</head>
<body>
    <main>
    <header>
        <div class="logo" >
            <a href = "/"><img src= "../stylesheets/images/logo.ico" alt=""></a></a>
        </div>

        <div class="menu">
            <ul>
                <!-- <li><a href="#"><b>Menu</b></a></li> -->
                <!-- <li><a href="#"><b>Menu</b></a></li> -->
                <!-- <li><a href="#"><b>Menu</b></a></li> -->
                <!-- <li><b>Menu</b></li> -->
                <!-- <li> -->
                    <nav>
                        <ul id="nav_id">
                            </ul>
                          </li>
                          <!-- <li><a href="#">Contact Us</a></li> -->
                        </ul>
                      </nav>
                <!-- </li> -->
                


            </ul>
        </div>
        
    </header>

    <div class="banner">
        <div class="aestroid">
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
            <div class="stone"></div>
        </div>
        <div class="banner_text">
            <h1 id="title">SpaceBites</h1>
            <ul>
                <li id="tagline">Where every flavor tells a story.</li>
            </ul>
        </div>
        <div class="mars">
            <div class="mars-image">
                <img src="../stylesheets/images/40aa66a9498e24dfc5348a392d8e5e9c.jpg" alt="">
            </div>
            <div class="circle">
                <div class="icon"><img src="../stylesheets/images/icons8-cutlery-50.png" alt=""></div>
                <div class="icon"><img src="../stylesheets/images/icons8-mobile-payment-30.png" alt=""></div>
                <div class="icon"><img src="../stylesheets/images/icons8-shopping-cart-50.png" alt=""></div>
                <div class="icon"><img src="../stylesheets/images/icons8-wish-list-30.png" alt=""></div>
                <div class="icon"><img src="../stylesheets/images/icons8-headset-48.png" alt=""></div>
                <div class="icon"><img src="../stylesheets/images/icons8-discount-finder-48.png" alt=""></div> 

                <div class="icon"><img src="../stylesheets/images/icons8-user-menu-male-48.png" alt=""></div>



            </div>
        </div>
    </div>
</main>
<script src="../javascript/home.js"></script> 
</body>
</html>